# PHP
alias phpunitw="phpunit-watcher watch"
alias c="composer"
alias cu="composer update"
alias cr="composer require"
alias ci="composer install"
alias cda="composer dump-autoload -o"
alias p="phpunit"
alias pf="phpunit --filter "
alias sshconfig="vi ~/.ssh/config"
alias copykey='command cat ~/.ssh/id_rsa.public | pbcopy'

# JavaScript
alias jest="./node_modules/.bin/jest"
alias npmr="npm run"

# List all files colorized in long format
alias l="ls -laF"

# PhPStorm
alias phpstorm='open -a /Applications/PhpStorm.app "`pwd`"'

# VSCode
alias code='open -a "/Applications/Visual Studio Code.app" "`pwd`"'

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Flush Directory Service cache
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Restart touch bar
alias touchbar="killall ControlStrip"

# Docker
alias dce='docker-compose execute'
alias docker-composer='docker run --rm --interactive --tty --volume $PWD:/app composer'

# CDS
alias cds-up='docker-compose up'
alias cds-down='docker-compose down'
alias cds-restart='docker-compose restart'
alias cds-artisan='docker-compose exec php php artisan'
alias cds-tinker='docker-compose exec php php artisan tinker'
alias cds-composer='docker-compose exec php composer'
alias cds-test-artisan='docker-compose exec php_test php artisan'
alias cds-phpunit='docker-compose exec php_test ./vendor/bin/phpunit'
alias cds-dusk='docker-compose exec php_test php artisan dusk'
alias cds-dusk:fails='docker-compose exec php_test php artisan dusk:fails'

# Liquid Forms
alias lf-up='docker-compose up'
alias lf-down='docker-compose down'
alias lf-restart='docker-compose restart'
alias lf-artisan='docker-compose exec php php artisan'
alias lf-tinker='docker-compose exec php php artisan tinker'
alias lf-composer='docker-compose exec php composer'

# FanDraft
alias fd-up='docker-compose up'
alias fd-down='docker-compose down'
alias fd-restart='docker-compose restart'
alias fd-artisan='docker-compose exec php php artisan'
alias fd-tinker='docker-compose exec php php artisan tinker'
alias fd-composer='docker-compose exec php composer'
