# PHP
alias phpunit="vendor/bin/phpunit"
alias phpunitw="phpunit-watcher watch"
alias c="composer"
alias cu="composer update"
alias cr="composer require"
alias ci="composer install"
alias cda="composer dump-autoload -o"
alias p="phpunit"
alias pf="phpunit --filter "
alias sshconfig="vi ~/.ssh/config"
alias copykey='command cat ~/.ssh/id_rsa.public | pbcopy'

# Tool replacements
alias cat=bat
alias ping='prettyping --nolegend'
alias man=tldr

# JavaScript
alias jest="./node_modules/.bin/jest"

# List all files colorized in long format
alias l="ls -laF"

# PhPStorm
alias phpstorm='open -a /Applications/PhpStorm.app "`pwd`"'

# VSCode
alias code='open -a "/Applications/Visual Studio Code.app" "`pwd`"'

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Flush Directory Service cache
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Enable aliases for working with Deliver My Ride
alias dmr-up='docker-compose up'
alias dmr-manage='docker-compose run --rm app php artisan'
alias dmr-migrate='docker-compose run --rm app php artisan migrate'
alias dmr-es-index='docker-compose run --rm app php artisan scout:import "App\Models\Deal"'
alias dmr-es-create='docker-compose run --rm app php artisan elastic:create-index App\\DealIndexConfigurator'
alias dmr-es-burn='docker-compose run --rm app php artisan elastic:drop-index App\\DealIndexConfigurator && php artisan elastic:create-index App\\DealIndexConfigurator && php artisan scout:import "App\Models\Deal"'
alias dmr-db-list='docker-compose exec mysql backups'
alias dmr-db-backup='docker-compose exec mysql backup'
alias dmr-db-restore='docker-compose exec mysql restore'
